@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, forest, fantasy, sunset,
    dracula, caramellatte, garden, halloween, business;
}
:root {
  --nav-h: 3.5rem;
}

body {
  font-family: "Montserrat";
}
